<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foucrazy.dao.CursosMapper">
    
	<select id="findByPK" resultType="com.foucrazy.model.Curso" parameterType="int">
		select * from cursos where "idCurso"=#{id}
	</select>
	
	<select id="getAll" resultType="com.foucrazy.model.Curso">
		select * from cursos
	</select>
	
	<select id="getAllActive" resultType="com.foucrazy.model.Curso">
		select * from cursos where activo=true
	</select>
	
	<insert id="create" parameterType="com.foucrazy.model.Curso" useGeneratedKeys="true" keyProperty="idCurso" keyColumn="idCurso">
	    insert into cursos(titulo,horas,"idNivel","idProfesor",activo) 
	    values(#{titulo},#{horas},#{idNivel},#{idProfesor},#{activo});
	</insert>
	
	<delete id="delete" parameterType="com.foucrazy.model.Curso">
	    delete from cursos where "idCurso"=#{idCurso}
	</delete>
	
</mapper>
