<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="FILE" class="org.apache.log4j.FileAppender">
     <param name="append" value="true" />
     <param name="encoding" value="UTF-8" />
     <param name="file" value="${catalina.home}/logs/app.log" />
     <layout class="org.apache.log4j.PatternLayout" >
     	<param name="ConversionPattern" value="%5p [%d{dd-MM-yyyy HH:mm:ss}] (%F:%M:%L) - %m%n"/>
     </layout>
  </appender>
  
  <appender name="SPRING" class="org.apache.log4j.FileAppender">
     <param name="append" value="true" />
     <param name="encoding" value="UTF-8" />
     <param name="file" value="${catalina.home}/logs/spring.log" />  
     <layout class="org.apache.log4j.PatternLayout" >
     	<param name="ConversionPattern" value="%5p [%d{dd-MM-yyyy HH:mm:ss}] (%F:%M:%L) - %m%n"/>
     </layout>
  </appender>

  <logger name="com.foucrazy" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="FILE"/>      
  </logger>  

  <logger name="org.springframework" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="SPRING"/>
  </logger>    
  
  <root>
    <priority value="DEBUG"/>  
    <appender-ref ref="FILE"/>
  </root>
</log4j:configuration>